<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
        <a class="navbar-brand" href="#">Womakers</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>            
            <li class="nav-item">
                <a class="nav-link" href="/">Personagens</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/all_dimensions">Localizações</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/all_episodes">Episodios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/lista">JSON Personagens</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/locations">JSON Localizações</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/lista_ep">JSON Episódios</a>
            </li>
        </div>
        </div>
    </nav>
</header>